.account__page
  .account__page__header
    = link_to image_tag("logo.png", alt: "logo"), root_path
  .account__page__main
    = form_for @user, url: user_registration_path do |f|
      .account__page__main__content
        .account__page__main__content--error
          = devise_error_messages!
        .field__title
          会員情報の登録
        .field__label
          .name
            = f.label :nickname
          .required
            必須
        .field__input
          = f.text_field :name, autofocus: true, placeholder: "例）ハナコ", class: "textbox"
        .field__label
          .name
            = f.label :email
          .required
            必須
        .field__input
          = f.email_field :email, placeholder: "携帯・ＰＣどちらでも可", class: "textbox"
        .field__label
          .name
            = f.label :password
          .required
            必須
        .field__input
          = f.password_field :password, autocomplete: "off", placeholder: "7文字以上の半角英数字", class: "textbox", id: "js-password"
        .field__guide
          ＊ 半角英数字７文字以上で設定して下さい
        .field__label
          .name
            = f.label :password_confirmation
          .required
            必須
        .field__input
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: "もう一度入力して下さい", class: "textbox", id: "js-password_confirmation"
        %p
          = check_box_tag :passcheck
          = f.label "パスワードを表示する", class: "field__guide"
        .field__label
          .name
            = f.label :birth_date
          .required
            必須
        .field__select
          = f.date_select :birth_date, use_month_numbers: true, start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)
        .actions
          = f.submit "お届け先情報登録へ", class: "submit-btn"

