.wrapper
  .banner
    %section.banner__image
    .banner__inner
      %h2.banner__inner--title
        だれでも簡単、人生を変えるフリマアプリ
      %p.banner__inner--text
        今すぐ無料ダウンロード
      

.wrapper
  .footer
    .footer__contents
      %li.footer__contents__list
        %h2.footer__contents__list--title FURIMAについて
        %ul.footer__contents__list--menu
          %li
            = link_to "#", class: "list--menu" do
              = "会社概要（運営会社）"
          %li
            = link_to "#", class: "list--menu" do
              = "プライバシーポリシー"
          %li
            = link_to "#", class: "list--menu" do
              = "FURIMA利用規約"
          %li
            = link_to "#", class: "list--menu" do
              = "ポイントに関する特約"
      %li.footer__contents__list
        %h2.footer__contents__list--title FURIMAを見る
        %ul.footer__contents__list--menu
          %li
            = link_to "#", class: "list--menu" do
              = "カテゴリ一一覧"
          %li
            = link_to "#", class: "list--menu" do
              = "ブランド一覧"
      %li.footer__contents__list
        %h2.footer__contents__list--title ヘルプ＆ガイド
        %ul.footer__contents__list--menu
          %li
            = link_to "#", class: "list--menu" do
              = "FURIMAガイド"
          %li
            = link_to "#", class: "list--menu" do
              = "FURIMAロゴ利用ガイドライン"
          %li
            = link_to "#", class: "list--menu" do
              = "お知らせ"
    .footer__logo
      = link_to "#", class: "list--menu" do
        = image_tag "logo-white.png", class: "footer__logo__white"
      %p FURIMA