.serch-pcheader
  .headerInner
    .mainHeader
      .icon
        = link_to root_path do
          = image_tag ("logo.png")
      .searchBox
        = form_with(url: "#", local: true, method: :get, class: "form") do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "searchBox-input"
          = button_tag type: 'submit', class: 'search-btn' do
            = image_tag "icon-search 1.png", class: "search-img"


    .headerInner__nav
      .headerInner__nav__leftBox
        %ul.headerInner__nav__leftBox__list
          %li.headerInner__nav__leftBox__list__categoryMenu
            = link_to "カテゴリー", root_path

            %ul.headerInner__nav__leftBox__list__categoryMenu__secondLevel
              - @parents.each do |parent|
                %li.headerInner__nav__leftBox__list__categoryMenu__secondLevel--list
                  = link_to parent.name, root_path
                  %ul.headerInner__nav__leftBox__list__categoryMenu__thirdLevel
                    - parent.children.each do |child|
                      %li.headerInner__nav__leftBox__list__categoryMenu__thirdLevel--list
                        = link_to child.name, root_path
                        %ul.headerInner__nav__leftBox__list__categoryMenu__fourthLevel
                          - child.children.each do |grandchild|
                            %li.headerInner__nav__leftBox__list__categoryMenu__fourthLevel--list
                              = link_to grandchild.name, root_path
      .headerInner__nav__rightBox
        %ul.headerInner__nav__rightBox__list
          - if !current_user
            %li.headerInner__nav__rightBox__list--login
              = link_to "ログイン", new_user_session_path
            %li.headerInner__nav__rightBox__list--registration
              = link_to "新規会員登録", new_user_registration_path
          - else
            %li.headerInner__nav__rightBox__list--logout
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            %li.headerInner__nav__rightBox__list--myPage
              = link_to "マイページ", users_path(current_user.id)