.serch-pcheader
  .headerInner
    .mainHeader
      .icon
        = link_to root_path do
          = image_tag ("logo.png")
      .searchBox
        = form_with(url: "#", local: true, method: :get, class: "form") do |form|
          = form.text_field :keyword, placeholder: "キーワードから探す", class: "searchBox-input"
          = button_tag type: 'submit', class: 'search-btn' do
            = image_tag "icon-search 1.png", class: "search-img"


    .headerInner__nav
      %ul.list-left
        %li.list-left__category-list
          = link_to "#", class: "btn" do
            カテゴリー
        %li.list-left__brand-list
          = link_to "#", class: "btn" do
            ブランド
      - if user_signed_in?
        %ul.list-right
          %li.list-right__log-in
            = link_to user_path(current_user.id), data: {"turbolinks" => false}, class: "right-btn" do
              マイページ
          %li.user__right__log-in
            = link_to destroy_user_session_path, method: :delete, class: "right-btn"  do
              ログアウト
      - else
        %ul.list-right
          %li.list-right__log-in
            = link_to new_user_session_path, class: "right-btn" do
              ログイン
          %li.list-right__sign-up
            = link_to new_user_registration_path, class: "right-btn",data: {"turbolinks" => false}  do
              新規会員登録