.list__box
  .list__box__contents
    .list__box__contents__title
      %h2.title ピックアップカテゴリー
    .list__box__contents__subtitle
      %h3.subtitle 新規投稿商品
    %ul.list__box__contents__cardList
      - @productions.each do |production|
        
        %li.list__box__contents__cardList--card
          
          = link_to production_path(id: production.id, class: "card") do
            = image_tag production.images.first.src.url
            -if production.purchaser_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner
                  SOLD
            %h3.name
              = production.name
            %p.price
              = production.price
              = "円"



          
.lists__boxi
  .lists__boxi__contents
    .lists__boxi__contents__title
      %h2.title ピックアップブランド
    .list__box__contents__subtitle
      %h3.subtitle アーカイバ
    %ul.list__box__contents__cardList
      - @productions.each do |production|
        %li.list__box__contents__cardList--card
          = link_to production_path(id: production.id, class: "card") do
            = image_tag production.images.first.src.url
            %h3.name
              = production.name
            %p.price
              = production.price
              = "円"
            
          
