= render 'header'
.show
  .item
    .item__name
      = @production.name
    .item__infomation
      = @production.introduction
      %img
        - @production.images.each do |i|
          = image_tag i.src.url
      %table
        %tbody
          %tr
            %th 
              出品者
            %td
              = @production.user.name
          %tr
            %th 
              カテゴリー
            %td
              = @production.category.parent.parent.name
              %br
              = @production.category.parent.name
              %br
              = @production.category.name
            
          %tr
            %th 
              商品のサイズ
            %td
              = @production.size
          %tr
            %th 
              商品の状態
            %td
              = @production.trading_status
          %tr
            %th 
              配送料の負担
            %td
              = @production.shipping_charge

          %tr
            %th 
              配送元地域
            %td
              = @production.prefecture_code
          %tr
            %th 
              発送日の目安
            %td
              = @production.detail_date
    .item__price
      .price1
        %a
          = @production.price
      .price2
        %a 
          円
      .price3
        %a
          = @production.shipping_charge

    .item__btn
      .btn
        = link_to "購入画面に進む", production_purchase_index_path(@production.id), class: 'item__btm'
