= render 'header'
- breadcrumb :production_show
= render "layouts/breadcrumbs"
.show
  .item
    .item__name
      = @production.name
    .item__photos
      %img
        .item__photos-first
          = image_tag @production.images[0].src.url, size: "300x300"
        .item__photos-second
          - @production.images.each do |i|
            = image_tag i.src.url

    .item__info
      %table
        %tbody
          %tr
            %th 
              出品者
            %td
              = @production.user.name
          %tr
            %th 
              カテゴリー
            %td
              = @production.category.parent.parent.name
              %br
              = @production.category.parent.name
              %br
              = @production.category.name
          %tr
            %th 
              商品のサイズ
            %td
              = @production.size
          %tr
            %th 
              商品の状態
            %td
              = @production.trading_status
          %tr
            %th 
              配送料の負担
            %td
              = @production.shipping_charge
        %tr
          %th 
            配送元地域
          %td
            = @production.prefecture_code
        %tr
          %th 
            発送日の目安
          %td
            = @production.detail_date
    .item__introduction
      商品の説明
      .item__introduction__content
        = @production.introduction

    .item__price
      .price1
        %a 
          = @production.price
          円
      .price2 
        %a
          = @production.shipping_charge

    - if user_signed_in? && current_user.id == @production.user_id
      .item__delete
        .btn
          = link_to "商品削除", production_path, method: :delete
      .item__edit
        .btn
          = link_to "商品編集", edit_production_path
    - else
      .item__btn
        .btn
          = link_to "購入画面に進む", production_purchase_index_path(@production.id), class: 'item__btm'
