!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleamarketSample80e
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    -# setPublicKey("pk_test_b2552a40f7966de2ae81a947");

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    -# = render 'layouts/notifications'
    = yield
